.container {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: white;
    background-color: rgb(79, 26, 202);
}
.h1 {
    font-size: 24 px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.uDiv {
    color: white;
    display: inline-block;
}

.forecastCards {
    margin: 20px;
}